{% extends 'base.html.twig' %}
{% block title %}Lieux - Cataluña Pizz'{% endblock %}
{% block body %}

    <div class="locationsContent">
        <div class="titleCenter">
            <h1 class="titles"><span><img class="flagChalk" src="assets/images/chalkflag.png"></span>
            Planning <span><img class="flagChalk" src="assets/images/chalkflag.png"></span></h1>
        </div>
        <div class="container-fluid">
            <div class="row">
                {% for location in locations %}
                    <div class="col-md-4 col-xs-12 agendaPage">
                        <div class="pageHead">
                            <span class="planningDay">{{ location.day }}</span>
                        </div>
                        <div class="pageBody">
                            <p>
                                <div class="houram">
                                    {{ location.hour_am }}
                                </div>
                                <div class="locationam">
                                    {{ location.location_am|raw }}
                                </div>
                                {% if location.hour_am %}
                                    <br>
                                {% endif %}
                                <div class="hourpm">
                                    {{ location.hour_pm }}
                                </div>
                                <div class="locationpm">
                                    {{ location.location_pm|raw }}
                                </div>
                            </p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}
