{% extends 'base.html.twig' %}
{% block title %}Lieux - Cataluña Pizz'{% endblock %}
{% block body %}

    <div class="locationsContent">

        <div class="titleCenter">
            <h1 class="titles"><span><img class="flagChalk hidden-sm hidden-xs" src="assets/images/chalkflag.png"></span> Mon planning <span><img class="flagChalk hidden-sm hidden-xs" src="assets/images/chalkflag.png"></span></h1>
        </div>
        <div class="container-fluid">
            <div class="row">
                {% for i in 0..4 %}
                    <div class="col-md-4 {% if i == 3 %} col-md-offset-2
                {% elseif i == 4 %} col-md-offset-0 {% endif %}col-xs-12 agendaPage">
                        <div class="pageHead">
                            <span class="planningDay">{{ locations[i].day }}</span>
                        </div>
                        <div class="pageBody">
                            <p>
                                <div class="houram">
                                    {{ locations[i].hour_am }}
                                </div>
                                <div class="locationam">
                                    {{ locations[i].location_am|raw }}
                                </div>
                                {% if locations[i].hour_am %}
                                    <br>
                                {% endif %}
                                <div class="hourpm">
                                    {{ locations[i].hour_pm }}
                                </div>
                                <div class="locationpm">
                                    {{ locations[i].location_pm|raw }}
                                </div>
                            </p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}
