{% extends 'adminBase.html.twig' %}
{% block body %}
    <div class="adminContent">
    <div class="container">
        <div class="row">
            <div class="panel panel-default">
                <div class="panel-body">
    <h1 class="adminTitle">La carte</h1>
    <hr class="yellow">
    <h2 class="titleCenter">Nos pizzas</h2>
    <ul>
        <h3>Pizza Base tomate</h3>
        {% for pizzaCategory in pizzaCategories %}
            {% if pizzaCategory.pizza.categoryId == '1' %}
            <li>{{ pizzaCategory.pizza.title }} :
                <small>{{ pizzaCategory.category.name }} {{ pizzaCategory.pizza.ingredients }}</small>
                <span class="label label-info">{{ pizzaCategory.pizza.price1 }} {{ pizzaCategory.pizza.price2 }}</span>
                <form method="post" action="admin.php?route=updatePizza">
                    <input type="hidden" name="id" value="{{ pizzaCategory.pizza.id }}">
                    <button type="submit" class="btn btn-info"><span class="glyphicon glyphicon-refresh"></span>Modifier</button>
                </form>
                <form method="post" action="admin.php?route=delPizza">
                    <input type="hidden" name="id" value="{{ pizzaCategory.pizza.id }}">
                    <button type="submit" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span>Supprimer</button>
                </form>
            </li>
            {% endif %}
        {% endfor %}
    </ul>

    <ul>
        <h3>Pizza Base crème</h3>
        {% for pizzaCategory in pizzaCategories %}
            {% if pizzaCategory.pizza.categoryId == '2' %}
                <li>{{ pizzaCategory.pizza.title }} :
                    <small>{{ pizzaCategory.category.name }} {{ pizzaCategory.pizza.ingredients }}</small>
                    <span class="label label-info">{{ pizzaCategory.pizza.price1 }} {{ pizzaCategory.pizza.price2 }}</span>
                    <form method="post" action="admin.php?route=updatePizza">
                        <input type="hidden" name="id" value="{{ pizzaCategory.pizza.id }}">
                        <button type="submit" class="btn btn-info"><span class="glyphicon glyphicon-refresh"></span>Modifier pizza</button>
                    </form>
                    <form method="post" action="admin.php?route=delPizza">
                        <input type="hidden" name="id" value="{{ pizzaCategory.pizza.id }}">
                        <button type="submit" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span>Supprimer</button>
                    </form>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
    <hr class="yellow">
        <ul>
            <h3>Bocadillos</h3>
            {% for pizzaCategory in pizzaCategories %}
                {% if pizzaCategory.pizza.categoryId == '4' %}
                    <li>{{ pizzaCategory.pizza.title }} :
                        <small>{{ pizzaCategory.category.name }} {{ pizzaCategory.pizza.ingredients }}</small>
                        <span class="label label-info">{{ pizzaCategory.pizza.price1 }} {{ pizzaCategory.pizza.price2 }}</span>
                        <form method="post" action="admin.php?route=updatePizza">
                            <input type="hidden" name="id" value="{{ pizzaCategory.pizza.id }}">
                            <button type="submit" class="btn btn-info"><span class="glyphicon glyphicon-refresh"></span>Modifier pizza</button>
                        </form>
                        <form method="post" action="admin.php?route=delPizza">
                            <input type="hidden" name="id" value="{{ pizzaCategory.pizza.id }}">
                            <button type="submit" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span>Supprimer</button>
                        </form>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
        <hr class="yellow">
        <ul>

        <h3>Dessert</h3>
        {% for pizzaCategory in pizzaCategories %}
            {% if pizzaCategory.pizza.categoryId == '3' %}
                <li>{{ pizzaCategory.pizza.title }} :
                    <small>{{ pizzaCategory.category.name }} {{ pizzaCategory.pizza.ingredients }}</small>
                    <span class="label label-info">{{ pizzaCategory.pizza.price1 }} {{ pizzaCategory.pizza.price2 }}</span>
                    <form method="post" action="admin.php?route=updatePizza">
                        <input type="hidden" name="id" value="{{ pizzaCategory.pizza.id }}">
                        <button type="submit" class="btn btn-info"><span class="glyphicon glyphicon-refresh"></span>Modifier pizza</button>
                    </form>
                    <form method="post" action="admin.php?route=delPizza">
                        <input type="hidden" name="id" value="{{ pizzaCategory.pizza.id }}">
                        <button type="submit" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span>Supprimer</button>
                    </form>
                </li>
            {% endif %}
        {% endfor %}
    </ul>

{% if errors %}
    <ul class="alert alert-danger">
        {% for error in errors %}
            <li>{{ error }}</li>
        {% endfor %}
    </ul>
{% endif %}
    </div>
</div>
</div>
</div>
</div>
{% endblock %}
