{% extends 'adminBase.html.twig' %}
{% block body %}
    <div class="adminContent">
        <div class="container">
            <div class="row>">
                <div class="panel panel-default">
                    <div class="panel-body">
                        {% if errors %}
                            <ul class="alert alert-danger">
                                {% for error in errors %}
                                    <li>{{ error }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                        <form action="admin.php?route=updateHome" method="post" enctype="multipart/form-data">
                            <h1 class="adminTitle">Mettre à jour ma page d'Accueil</h1>
                            <hr class="yellow">
                            <fieldset class="form-group">
                                <legend>Rentrer les modifications à apporter</legend>
                                <div class="form-group">
                                <label for="img1_carrousel">Image 1 du carrousel</label>
                                <input type="file" class="form-group" name="img1_carrousel" id="img1_carrousel" value="{{ aboutUs.img1Carrousel }}"/>
                                <img class="little-img" src="assets/images/upload/{{ aboutUs.img1Carrousel }}" alt="image carrousel" />
                                </div>

                                <div class="form-group">
                                <label for="img2_carrousel">Image 2 du carrousel</label>
                                <input type="file" class="form-group" name="img2_carrousel" id="img2_carrousel" value="{{ aboutUs.img2Carrousel }}"/>
                                <img class="little-img" src="assets/images/upload/{{ aboutUs.img2Carrousel }}" alt="image carrousel" />
                                </div>


                                <div class="form-group">
                                <label for="img3_carrousel">Image 3 du carrousel</label>
                                <input type="file" class="form-group" name="img3_carrousel" id="img3_carrousel" value="{{ aboutUs.img3Carrousel }}"/>
                                <img class="little-img" src="assets/images/upload/{{ aboutUs.img3Carrousel }}" alt="image carrousel" />
                                </div>

                                <label for="titre présentation">Titre de la présentation</label>
                                <input class="form-control" name="about_us_title" id="about_us_title" value="{{ aboutUs.AboutUsTitle }}"/>

                                <label for="nos produits">Nos Produits</label>
                                <textarea class="form-control" name="about_us" id="about_us">{{ aboutUs.AboutUs }}</textarea>

                                <label for="titre évènement">Titre de l'évènement</label>
                                <input class="form-control" name="bloc_news_title" id="bloc_news_title" value="{{ aboutUs.BlocNewsTitle }}"/>

                                <label for="titre nouveauté">Titre de la nouveauté</label>
                                <input class="form-control" name="news_title" id="news_title" value="{{ aboutUs.NewsTitle }}"/>

                                <label for="nouveauté">Description de la nouveauté</label>
                                <textarea class="form-control summernote" name="news">{{ aboutUs.News }}</textarea>

                                <label for="image nouveauté">Image de la nouveauté</label>
                                <input type="file" class="form-control" name="news_picture" id="news_picture" value="{{ aboutUs.NewsPicture }}"/>

                                <label for="mail">Mail</label>
                                <input type="text" class="form-control" name="mail" id="mail" value="{{ aboutUs.Mail }}"/>

                                <label for="tel">Téléphone</label>
                                <input type="text" class="form-control" name="tel" id="tel" value="{{ aboutUs.Tel }}"/>

                            </fieldset>

                           <a href="index.php" target="_blank"><button type="submit" class="btn btn-success">

                                <span class="glyphicon glyphicon-plus"></span>Mise à jour
                            </button>
                           </a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
