{% extends 'adminBase.html.twig' %}
{% block title %}Admin - Cataluña Pizz'{% endblock %}
{% block body %}
<div class="adminContent">
<h1>Planning</h1>
    <h2>Jour à modifier</h2>
    <br>
    {% for location in locations %}
        <br>
        <form action="?route=updateLocation" method="post">
            <div class="row">
                <input type="hidden" name="id" id="id" value="{{ location.id }}">
                <span class="updateDays col-xs-offset-2 col-xs-4">{{ location.day }}</span>
                <button type="submit" class="btn btn-warning col-xs-offset-2 col-xs-2">
                    <span class="glyphicon glyphicon-pencil">Modifier</span></button>
            </div>
            <br>
            <div class="row">
                <div class="col-xs-offset-2 col-xs-4">
                    {{ location.hour_am|raw }}
                    {{ location.location_am|raw  }}
                    {{ location.hour_pm|raw  }}
                    {{ location.location_pm|raw }}
                </div>
            </div>
        </form>
    {% endfor %}
</div>
{% endblock %}
