{% extends 'base.html.twig' %}
{% block title %}Accueil-Cataluña Pizz'{% endblock %}
{% block body %}

<div class="carouselFixed">
    <div class="container-fluid">
        <div class="row">
            <div id="myCarousel" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel" data-slide-to="1"></li>
                    <li data-target="#myCarousel" data-slide-to="2"></li>
                </ol>

                <div class="carousel-inner">
                    <div class="item active item1">
                        <img src="../images/pizzaZoom.JPG" alt="Photo de pizza">
                    </div>
                        <div class="item item2">
                            <img src="../images/camion2.JPG" alt="Photo de camion">
                        </div>

                        <div class="item item3">
                            <img src="../images/pizzaPlanche.JPG" alt="Photo de pizza sortie du four">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="baudi">
    <h1 class="titles"><span><img src="assets/images/chalkflag.png" class="flagChalk"></span> {{ home.AboutUsTitle }} <span><img src="assets/images/chalkflag.png" class="flagChalk"></span></h1>
        <p class="aboutUs"> {{ home.AboutUs }}</p>
        <h1 class="titles"><span><img src="assets/images/chalkflag.png" class="flagChalk"></span> {{ home.BlocNewsTitle }} <span><img src="assets/images/chalkflag.png" class="flagChalk"></span> </h1>
    <section class="news">
        <div class="container-fluid">
            <div class="row">
                <div class="media">
                    <div class="col-md-offset-1 col-md-5 img-news">
                        <img class="media-object img-responsive" src={{ home.NewsPicture }}
                             alt="Image">
                    </div>
                    <div class="media-body">
                        <div class="col-md-offset-2 col-md-8 bloc-news">
                            <div class="media-heading news-title">{{ home.NewsTitle }}</div>
                            <div class="news-description">{{ home.News|raw}}</div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </section>

    {% endblock %}
